<div class="header">
  <div class="info-container">
    
    <div class="menu-logo">
      <div class="menu" (click)="openMenuList()">
        <img src="assets/icons/menu-button-of-three-horizontal-lines.svg" alt="">
      </div>
      <div class="logo">
        <img src="assets/icons/fireworks.svg" alt="">
      </div>
    </div>

    <div class="search-box">
      <div class="search-container">
        <input type="text" placeholder="Search">
      </div>
      <div class="search-icon">
        <img src="assets/icons/magnifier-white.svg" alt="">
      </div>
    </div>

    <div class="cart">
      <img src="assets/icons/hotel-supplier.svg" alt="">
    </div>

  </div>
</div>