.home {
  width: 100%;
  .posters {
    img {
      width: 100%;
      height: 40em;
    }
  }

  .best-sellers {
    padding: 0 4em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      flex-direction: row;
      height: 8em;
      align-items: center;

      img {
        margin-right: 2em;
        width: 6em;
        height: 6em;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
      .text {
        font-size: 3.2em;
        font-family: Baloo;
        color: #767676;
      }
    }

    .products {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .product {
        width: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
          cursor: pointer;
          box-shadow: 0 0 20px rgba(37, 35, 168, 0.479);
        }

        .product-img {
          height: 25em;
          display: flex;
          align-items: center;

          img {
            width: 100%;
            max-height: 25em;
          }
        }
        .price {
          margin-top: 1em;

          .text {
            font-family: "Lato", sans-serif;
            font-size: 2.4em;
            color: red;
          }
        }
        .product-name {
          margin-top: 1em;
          height: 10em;
          padding: 0 1em;
          display: flex;

          .text {
            font-family: 'PT Sans', sans-serif;
            font-size: 2em;
            color: blue;
          }
        }
        .rating {
          display: flex;
          flex-direction: row;
          margin-bottom: 2em;

          .star {
            margin: 0 0.5em;
            img {
              width: 2em;
              height: 2em;
            }
          }
        }
      }
    }
  }
}
