/* You can add global styles to this file, and also import other style files */

html {
  width: 100%;
}
body {
  margin: 0;
}

@font-face {
  font-family: "Baloo";
  src: url(/assets/fonts/Baloo/Baloo-Regular.ttf);
  // font-weight: 400;
}
